.auth_LogoutBtn {
  width: 130px;
  height: 52px;
  border: 1px solid #dc1928;
  background: #dc1928;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}
